{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended-with-formatting",
		"prettier"
	],
	"rules": {
		"no-shadow": [2, { "allow": ["done"] }],
		"no-console": 0,
		"@wordpress/no-unsafe-wp-apis": 0
	}
}
